html {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Les règles typographiques générales qui s'appliquent à tout le site */
body {
    font-family: var(--font-delm);
    font-size: var(--body-1);
    line-height: 110%;
    background-color: var(--luvulite);
    color: var(--howlite);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-nanami-R);
    letter-spacing: var(--letter-spacing-heading);
    line-height: 110%;
}

h1 {
    font-size: var(--h1--tres-gros);
}

h2 {
    font-size: var(--h2--gros);
}

h3 {
    font-size: var(---h3--normal);
}

h4 {
    font-size: var(--h4--petit);
}


button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}




/********************** NAV *************************
*****************************************************/

.nav-links {
    display: block;
    position: static;
    padding: 25px 0;
    width: 100%;
}

.nav-links ul {
    float: right;
}

.nav-links li {
    display: inline-block;
    margin-left: 45px;
    font-size: 1em;
    color: white;
    padding: 10px 0 10px 0;
}

.nav-links a {
    color: #fff;
}



/********************** HERO *************************
*****************************************************/

#top {
    min-height: 750px;
    background: #1D976C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #360033, #300e41, #223166, #105e94);
    background: linear-gradient(to right bottom, #360033, #300e41, #223166, #105e94);
    color: #fff;
}

/********************** DESKTOP NAV **************************
**************************************************************/



.positioning {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 1;
}


/********************** DESKTOP FIXES *************************
**************************************************************/


.nav-links li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}