html {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Les règles typographiques générales qui s'appliquent à tout le site */
body {
    font-family: var(--font-delm);
    font-size: var(--body-1--gros);
    line-height: 110%;
    background-color: var(--luvulite);
    color: var(--howlite);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-nanami-R);
    letter-spacing: var(--letter-spacing-heading);
    line-height: 110%;
    z-index: 1;
}

h1 {
    font-size: var(--h1--tres-gros);
}

h1 span,
h2 span {
    font-family: var(--font-nanami-OR);
}

h2 {
    font-size: var(--h2--gros);
}

h3 {
    font-size: var(---h3--normal);
}

h4 {
    font-size: var(--h4--petit);
}

.degrade__body {
    position: relative;
}

.degrade__body::after {
    content: "";
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(112, 86, 166, 1), rgba(51, 15, 127, 1));
    z-index: -1;
}

button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}