@font-face {
    font-family: 'nanami-light';
    src: url('/src/fonts/nanami-light-webfont.woff2') format('woff2'),
        url('/src/fonts/nanami-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nanami-regular';
    src: url('/src/fonts/nanami-regular-webfont.woff2') format('woff2'),
        url('/src/fonts/nanami-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nanami_outline-regular';
    src: url('/src/fonts/nanami-outlineregular-webfont.woff2') format('woff2'),
        url('/src/fonts/nanami-outlineregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Delm-semilight';
    src: url('/src/fonts/Delm-SemiLight.woff2') format('woff2'),
        url('/src/fonts/Delm-SemiLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'nanami-bold';
    src: url('/src/fonts/nanami-bold-webfont.woff2') format('woff2'),
        url('/src/fonts/nanami-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}