:root {
    /* Color styles */
    --violet-pale: rgba(217, 205, 240, 1);
    --luvulite: rgba(41, 0, 43, 1);
    --jade-lilas: rgba(112, 86, 166, 1);
    --onyx: rgba(27, 27, 28, 1);
    --howlite: rgba(249, 249, 249, 1);
    --lapis-lazulis: rgba(51, 15, 127, 1);
    --charoite: rgba(145, 114, 244, 1);
    --amethyste: rgba(160, 130, 218, 1);
    --rubis: rgba(200, 15, 22, 1);
    --emeraude: rgba(1, 215, 88, 1);

    /* Tailles de police de caractère */
    --h1--tres-gros: 4rem;
    --h2--gros: 2.5rem;
    --h3--normal: 2rem;
    --h4--petit: 1.25rem;

    --body-1--gros: 1.75rem;
    --body-2--normal: 1.38rem;
    --body-3--petit: 1.12rem;
    --body-4--très-petit: 1rem;

    --small-text: 0.75rem;
    --small-text--upper: 0.81rem;
    --button: 1rem;
    --small--text-2: 0.62rem;

    /* Polices de caractère */
    --font-nanami-L: 'nanami-light';
    --font-nanami-R: 'nanami-regular';
    --font-nanami-OR: 'nanami_outline-regular';
    --font-delm: 'Delm-semilight';
    --font-nanami-B: 'nanami-bold';

    /* Font variantes */
    --letter-spacing-btn: 0.1em;
    --letter-spacing-small-uper: 0.05em;
    --letter-spacing-heading: 0.02em;

    /* Espaces */
    --space1x: 10px;
    --space2x: 20px;
    --space3x: 30px;
    --space4x: 50px;
    --space5x: 80px;
    --space6x: 100px;
    --space7x: 150px;
}