.footer {
    background-color: var(--onyx);
    padding: var(--space2x) var(--space5x);

    display: flex;
    justify-content: space-between;
}


.footer__logo--title {
    color: var(--howlite);
    font-size: var(--h3--normal);
    font-family: var(--font-nanami-B);
}

.footer__end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__list--social {
    display: flex;
    gap: 60px;
    padding-right: 60px;
    border-right: 2px solid var(--howlite);
    height: 30px;
    align-items: center;
}

.footer__menu {
    padding-left: 60px;
}

.footer__menu a {
    text-decoration: none;
    color: var(--howlite);
}

.footer__menu a:hover {
    color: var(--amethyste);
}

.footer__logo {
    display: flex;
    gap: 3px;
}

.footer__icon--social {
    width: 30px;
    height: 30px;
}