.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-nanami-R);
    font-size: var(--button);
}

.btn__contact {
    text-decoration: none;
    color: var(--howlite);
    border: 1px solid var(--howlite);
    padding: 15px var(--space3x);
    display: inline-flex;
    gap: var(--space1x);
    border-radius: 5px;
    transition: 200ms ease-in-out;
}

.btn__contact--arrow {
    transition: transform 200ms ease-in-out;
}

.btn__contact:hover .btn__contact--arrow {
    transform: rotate(90deg);
}

.btn__contact:hover {
    color: var(--amethyste);
    border: 1px solid var(--amethyste);
}

.donload__btn {
    text-decoration: none;
    color: var(--howlite);
    padding: var(--space1x) var(--space2x);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space1x);
    border-radius: 14px;
    background-color: var(--onyx);

}

.donload__text {
    font-size: var(--body-3--petit);
    line-height: 0;
}

.donload__content {
    font-size: var(--h4--petit);
    font-family: var(--font-roboto);
}

.donload__logo {
    width: 50px;
    height: 50px;
}

.cards__btn {
    padding: var(--space1x) var(--space3x);
    display: flex;
    justify-content: center;
    border-radius: 14px;
    background-color: var(--charoite);
    transition: 200ms ease-in-out;
}

.cards__btn--text {
    color: var(--howlite);
}

.cards__btn:hover {

    background-color: var(--lapis-lazulis);
}