.carrousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: relative;
    text-align: center;
    gap: var(--space3x);
    margin-left: var(--space2x);
}

.carousel__image {
    width: auto;
    height: 290px;
    border-radius: 5px;
}

.carrousel__card {
    flex: none;
    scroll-snap-align: start;
    background-color: var(--howlite);
    color: var(--onyx);
    padding: 65px var(--space3x) var(--space1x) var(--space3x);
    border-radius: 20px;
}

.carousel__title {
    padding: 0;
    margin: var(--space1x);
}

.carrousel__text {
    width: 344px;
    text-align: left;
    margin-bottom: 10px;
}