.hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(#1E0E00, #330F7F);
    padding-top: var(--space6x);
    margin-bottom: 385px;
}

.hero__waves {
    position: absolute;
    top: 38vh;
    width: 100%;
    height: 100px;
    z-index: 2;

}

.gradient-1 {
    position: absolute;
    bottom: -10%;
    right: 30%;
    filter: blur(150px);
    z-index: 0;
}

.gradient-2 {
    position: absolute;
    top: 0;
    right: 0;
    filter: blur(150px);
    z-index: 0;
}

.gradient-3 {
    position: absolute;
    top: 10%;
    left: -10%;
    filter: blur(150px);
    z-index: 0;
}

.hero__img {
    position: absolute;
    z-index: 5;

}

.hero__title {
    text-align: center;
}

.hero__chapo {
    min-height: 20vh;
    padding-top: 30px;
    display: flex;
}

.hero__nuages-top {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;
    object-fit: cover;
}

.hero__donload {
    display: flex;
    justify-content: center;
    gap: 200px;
    z-index: 4;
}