.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space5x);
}

.menu__item {
    font-size: var(--h4--petit);
    font-family: var(--font-nanami-R);
    margin: 0;
}

.menu__link {
    color: #fff;
    text-decoration: none;
}

.menu__link:hover {
    color: var(--amethyste);
}

.legal__menu {
    margin-top: 200px;
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: var(--space4x);
}