.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space5x);
}

.menu__item {
    font-size: var(--h4--petit);
    font-family: var(--font-nanami-R);
    margin: 0;
}

.menu__link {
    color: #fff;
    text-decoration: none;
}